*,
*:before,
*:after {
  box-sizing: border-box;
}

h1[class],
h2[class],
h3[class],
h4[class],
h5[class],
h6[class] {
  margin: 0;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}
